*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
}
h2{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color:tomato;
}
/*-------------------------------header----------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
.header{
    width:100%;
    height:10em;
   
}

/*----------------*/
/*--------header link--------*/
/*----------------*/
.header-link{
    width:100%;
    height:30%;
    background-color:rgb(176, 96, 16);
    padding-top: 1em;
    text-indent: 9em;
    color:white;
}
.header-link span{
    margin-right: 2em;
}
/*----------------*/
/*--------header menu--------*/
/*----------------*/
.header-menu{
    width:80%;
    height:70%;
    margin:0 auto;
    
}
.logo{
    float: left;
}
.menu a{
    float: left;
    margin-top: 2em;
    margin-left: 3em;
}
.social img{
    width:2em;
    height:2em;
    margin-top: 1.7em;
    margin-left: 2em;
}
.menu ul li{
    position: relative;
}
.menu ul li ul{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover .submenu li {
    visibility: visible;
}

/*-------------------------------contetn----------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/* .content{
    width: 100%;
    min-height: 
} */

/*------------slide-----------*/
.slider{
    position:relative;
}
.slider h2{
    position: absolute;
    top:0;
}


/*-----------about-----------*/
.about{
    width:80%;
    height:35em;
    margin:0 auto;
    text-align: center;
}
.about-top{
    width:100%;
    height:50%;
}
.about-top h1{
    padding-top: 2em;
    padding-bottom: 1em;
}
.about-top h2{
    color:tomato;
    padding-bottom:1em; 
}
.about-bottom{
    width:100%;
    height:50%;
}
.myseft{
    width:25%;
    height: 100%;
    float:left;
}
.myhobby{
    width:25%;
    height: 100%;
    float: left;
}
.myglory{
    width:25%;
    height: 100%;
    float: left;
}
.myfirst{
    width:25%;
    height: 100%;
    float:left;
}
.about-bottom h2{
    padding-top: 2em;
}

/*-------------------------------footer----------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
